@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
:root {
  --main-text-color: #eeeeee;
  --background: #242325;
  --shadow: #00000080;
  --nav-background: #0e0d0fee;
  --nav-hover-background: #b97bff20;
  --nav-active-background: #b97bff35;
  --footer-background: #16161a;
  --error: #ff00ff;
  --navbar-height: 64px;
  --navbuttons-width: 175px;
}

body {
  background: var(--background);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: var(--main-text-color);
  font-weight: 300;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#imageBackground {
  background-image: url("space_background.png");
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 20px var(--shadow);
  position: relative;
}

#imageBackground h2 {
  font-size: 100px; 
  color: #ffffff;
  text-shadow: 0px 0px 20px var(--shadow);
}
#navbar {
  position: sticky;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  height: var(--navbar-height);
  background: var(--nav-background);
  display: flex;
  justify-content: space-between;
  margin-top: calc(0px - var(--navbar-height));
}
#navbar img {
  height: var(--navbar-height);
  width: var(--navbar-height)
}